body {
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

h2 {
  font-size: 2rem;
  color: #555;
}

a {
  text-decoration: none;
}

button,
.btn {
  transition: background-color 0.3s ease;
}

button:hover,
.btn:hover {
  background-color: #007bff;
  color: #fff;
}

.custom-button {
  background-color: #f8f9fa;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #007bff;
  color: #fff;
}

/* New styles */

.navbar {
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
}

.navbar,
.card,
.container {
  border-radius: 15px;
}

.footer {
  border-radius: 15px 15px 0 0;
}

body > *:not(.navbar) {
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
