{% extends "base.html" %}

{% block content %}
    <h1>Create Your Meal Plan</h1>
    <form action="{{ url_for('meal_plan_bp.meal_plan') }}" method="POST">
        <div class="form-group">
            <label for="num_days">Number of Days:</label>
            <input type="number" id="num_days" name="num_days" class="form-control" min="1" max="14" required>
        </div>
        <div class="form-group">
            <label for="meal_goal">Meal Goal:</label>
            <input type="text" id="meal_goal" name="meal_goal" class="form-control" placeholder="e.g. healthy, Italian, easy to make" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Generate Meal Plan">
    </form>

    {% if meal_plan_text %}
        <h2>Full Output:</h2>
        <pre>{{ meal_plan_text }}</pre>
    {% endif %}

    {% if meal_plan_dict %}
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Day</th>
            <th>Meal Type</th>
            <th>Meal</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          {% set counter = 1 %}
          {% for day, meals in meal_plan_dict.items() %}
            {% for meal_type, meal in meals.items() %}
              <tr>
                <td>{{ counter }}</td>
                <td>{{ day }}</td>
                <td>{{ meal_type }}</td>
                <td>{{ meal }}</td>
                <td><input type="checkbox" /></td>
              </tr>
              {% set counter = counter + 1 %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}


{% endblock %}
