{% extends "base.html" %}

{% block content %}
    <h1>Create Your Meal Plan</h1>
    <form action="{{ url_for('meal_plan_bp.meal_plan') }}" method="POST">
        <div class="form-group">
            <label for="num_days">Number of Days:</label>
            <input type="number" id="num_days" name="num_days" class="form-control" min="1" max="14" required>
        </div>
        <div class="form-group">
            <label for="meal_goal">Meal Goal:</label>
            <input type="text" id="meal_goal" name="meal_goal" class="form-control" placeholder="e.g. healthy, Italian, easy to make" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Generate Meal Plan">
    </form>

    {% if meal_plan_dict %}
        <h2>Meal Plan:</h2>
        <pre>{{ meal_plan_dict | tojson(indent=2) }}</pre>
    {% endif %}

    {% if meal_plan_dict %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Day</th>
                    <th scope="col">Meal Type</th>
                    <th scope="col">Meal</th>
                    <th scope="col">Select</th>
                </tr>
            </thead>
            <tbody>
                {% for meal_type, meals in meal_plan_dict.items() %}
                    {% for meal_info in meals %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ meal_info.day }}</td>
                            <td>{{ meal_type }}</td>
                            <td>{{ meal_info.meal }}</td>
                            <td>
                                <input type="checkbox" class="form-check-input" id="{{ meal_type }}-{{ loop.index }}" name="{{ meal_type }}-{{ loop.index }}">
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
